.category {

    &__main {
        margin-bottom: 100px;

        .title-category {
            color: $orange;
            font-weight: 700;
            text-align: center;
            text-transform: capitalize;
            line-height: 72px;
            padding:map-get($spacers, 5) 0;
            @include responsive-font-size(60px);
        }
        
        &__highlights {
            margin-bottom: map-get($spacers, 5);
            display: block;

            .single-category {
                width: 100%;
                margin-bottom: map-get($spacers, 4);

                &-wrapper {
                    position: relative;
                    width: 100%;
                    height: 400px;
                
                    &-image {
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        a {
                            display: block;
                            width: 100%;

                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    &-info {
                        position: absolute;
                        bottom: 0px;
                        padding: map-get($spacers, 3);

                        span {
                            background-color: #dc191b;
                            color: $white;
                            text-transform: uppercase;
                            font-weight: 600;
                            padding: map-get($spacers, 1) map-get($spacers, 2);
                            display: inline-block;
                            margin-bottom: map-get($spacers, 3);
                            @include responsive-font-size(11px);
                        }

                        h3 {
                            a {
                                text-decoration: none;
                                color: $white;
                                font-weight: 800;
                                text-transform: capitalize;
                                line-height: 1.3em;
                                @include responsive-font-size(18px);
                            }
                        }

                    }

                }
            }
        }
    }

    &__posts {
        margin-top: map-get($spacers, 5);

        &__article {

            .item-category {
                margin-bottom: map-get($spacers, 5);
                .row {
                    align-items: center;

                }
                &-image {

                }

                &-info {


                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            align-self: center;

                            .link-category {
                                text-align: left;
                                width: 100%;
                                a {
                                    color: $white;
                                    text-align: left;
                                    font-weight: 500;
                                    background-color: #dc191b;
                                    padding: map-get($spacers, 1) map-get($spacers,2);
                                    @include responsive-font-size(12px);
                                    text-decoration: none;
                                    color: $white;
                                }
                            }

                            h2 {
                                position: relative;
                                margin: map-get($spacers, 3) 0;

                                &:before {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: 0px;
                                    bottom: 0;
                                    left: 0;
                                    background-color: #dc191b;
                                    width: 2px;
                                    height: 60px;
                                    margin-right: 20px;
                                }

                                a {
                                    text-decoration: none;
                                    font-weight: 500;
                                    line-height: 1.4em;
                                    margin-left: 10px;
                                    color: $black;
                                    display: inline-block;
                                    @include responsive-font-size(21px);
                                }
                            }

                            .resumo {
                                font-weight: 300;
                                color: #4a4a4a;
                                @include responsive-font-size(16px);
                            }
                        }

                    }
                }
            }

        }

        /* Aside-Home */
        &__aside-home {

            // Title
            &__block-title {
                // padding: map-get($spacers, 5) 0;
                h2 {
                    text-align: left;
                    position: relative;
                    color: #2a2f52;
                    padding-left: 20px;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                    @include responsive-font-size(30px);

                    &::before {
                        content: '';
                        display: block;
                        background-color: #fda300;
                        position: absolute;
                        left: 0;
                        height: 50px;
                        width: 3px;
                    }
                }
            }

            // Aside Posts
            &-wrapper {
                .posts {
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    margin: map-get($spacers, 3) 0;

                    .image {
                        
                        max-width: 30%;


                        img {
                            transition: all ease-in-out 0.5s;
                        }
                    }

                    .infos {
                        margin-left: map-get($spacers, 3);
                
                        .title {
                            color: #333a65;
                            font-weight: $font-weight-bold;
                            @include responsive-font-size(18px);
                        }
                        .text {
                            color: #333a65;
                            padding-top: map-get($spacers, 2);
                            font-weight: $font-weight-normal;
                            @include responsive-font-size(14px);
                        }
                    }
                }
            }

            &-category {

                // Title
                .block-title {
                    padding: map-get($spacers, 5) 0 map-get($spacers, 3);

                    .title {
                        text-align: left;
                        position: relative;
                        color: #2a2f52;
                        text-transform: capitalize;
                        font-weight: 600;
                        @include responsive-font-size(25px);
                    }
                }

                ul {

                    li {
                        padding: map-get($spacers, 3);
                        background-image: url('assets/images/bg-categoria.jpg');
                        background-position: center;
                        background-size: cover;
                        height: 150px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        border-bottom: 1px dashed rgb(201, 201, 201);
                        transition: all 0.7s;
                        position: relative;
                        margin-bottom: map-get($spacers, 3);


                        &:before {
                            content: '';
                            display: none;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            transition: all 0.7s;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: #000;
                            position: absolute;
                        }

                            &:hover {
                                position: relative;
                                transition: all 0.7s;
                                
                                &:before {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    transition: all 0.7s;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    background-color: rgba(0, 0, 0, 0.274);
                                    position: absolute;
                                }

                                a {
                                    background-color: $white;
                                    color: #dc191b;
                                    border: solid 1px #dc191b;
                                    transition: all 0.7s;
                                }
                            }
                            
                        a {
                            color: $white;
                            background-color: #dc191b;
                            text-decoration: none;
                            position: relative;
                            font-weight: 700;
                            padding: map-get($spacers, 1) map-get($spacers, 2);
                            transition: all 0.5s;
                            @include responsive-font-size(16px);

                            // &:hover {
                            //     background-color: #1a4a74;
                            //     color: #fff;
                            //     transition: all 0.6s;
                            // }

                            // &:before {
                            //     content: '\25b6';
                            //     display: block;
                            //     position: absolute;
                            //     left: 0;
                            //     top: 3px;
                            //     @include responsive-font-size(12px);
                            // }
                        }
                    }
                    
                }

            }
        }
        /* end Aside-Home */

    }

}